{% extends 'reviews/base.html' %}

{% block content %}
    <h2>{{ book_query.title.title }}</h2>
    <form action="{% url 'reviews:book_add_review' book_id=book_query.id %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit" class="btn" value="Submit" />
    </form>
    <h3>Reviews</h3>
    {% for review in book_query.reviews.all %}
    <ul>
        <li>
            {% if review.rating == 1 %}
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span> {% elif review.rating == 2 %}
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span> {% elif review.rating == 3 %}
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span> {% elif review.rating == 4 %}
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span> {% else %}
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span> {% endif %}
        </li>
        <li>
            <a href="{% url 'reviews:user_detail' user_id=review.user.id %}">
                {{ review.user.first_name.title }}
            </a> says:
            <span> {{ review.comment }}</span>
            {% if request.user.id == review.user.id %}
                <button><a href="{% url 'reviews:review_delete' book_id=book_id review_id=review.pk %}">Delete Review</a></button>
            {% endif %}
        </li>
        <li>Posted on: {{ review.created_date }}</li>
    </ul>
    {% endfor %}

{% endblock %}