{% extends 'login_register/base.html' %}

{% block content %}

<section class="col-md-4">
    <form  action="/login" method="POST" class="form">
        {% csrf_token %}
        <h2>Please login</h2>
        {{ login_form.as_p }}
        <button type="submit" class="btn">Submit</button>
    </form>
</section>

<section class="col-md-8">
    <form action="/register" method="POST" class="form">
        {% csrf_token %}
        <h2>Please register</h2>
        {{ reg_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn">Submit</button>
    </form>
</section>

{% endblock %}