<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Book Review{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- add bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- add customise stylesheet -->
        {% load static %}
        {% block stylesheet %}
        <link href="{% static 'login_register/css/my_style.css' %}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- the hamburger menu-->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <!-- the hamburger menu-->
                    </button>
                    <a class="navbar-brand" href="{% url 'reviews:index' %}">Book Review</a>
                </div>
                 {% block navbar %}
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <!-- <li><a href="/"></a></li> -->
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                {% endblock %}
            </div>
        </div>
        <main>
            
        
        <div class="content container">
            <div class="row">
                
                    {% block content %}
                    {% endblock %}
                
            </div>
        </div>
    </main>

        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block javascript %}
        
        {% endblock %}
        
    </body>
</html>