{% extends 'reviews/base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h2>Welcome {{ request.user.first_name.title }}!</h2>
    {% else %}
        <h2><a href="{% url 'login_register:index' %}">Please login here.</a></h2>
    {% endif %}

    <h2>Recent Book Reviews</h2>
    <h3>
        <a href="{% url 'reviews:add_book' %}">Add a book review!</a>
    </h3>

    {% for review in all_reviews %}
    <ul>
        <li>
            <a href="{% url 'reviews:book_detail' book_id=review.book.id %}">
                {{ review.book.title }}
            </a>
        </li>
        <li>
            {% if review.rating == 1 %}
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            {% elif review.rating == 2 %}
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            {% elif review.rating == 3 %}
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            {% elif review.rating == 4 %}
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            {% else %}
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            {% endif %}
        </li>
        <li>
            <a href="{% url 'reviews:user_detail' user_id=review.user.id %}">
                {{ review.user.first_name.title }}
            </a> 
            says:
            <span> {{ review.comment }}</span>
        </li>
        <li>Posted on: {{ review.created_date }}</li>
    </ul>
    {% endfor %}

    <section>
        <h3>Other books with reviews</h3>
        <ul>
            {% for book in books_with_reviews %}
            <li><a href="{% url 'reviews:book_detail' book_id=book.id %}">{{ book.title.title }}</a></li>
            {% endfor %}
        </ul>
    </section>



{% endblock %}