.helptext {
    display: block;
    color: #bac0c6;
}

.form-control {
    width: 70%;
}

.navbar {
    margin-bottom: 10px;
}

.btn_block {
    width: 300px;
    color:darkslategray;
}

.destination {
    list-style: none;
}

.user_joined li {
    list-style: none;
}
